//Cores
$rosa: hsl(293, 100%, 63%);
$roxo: hsl(264, 100%, 61%);
$branco: #FFFFFF;
$cinza-claro: hsl(270, 20%, 96%);
$azul-escuro: hsl(271, 36%, 24%);
$chat-left-color: hsl(276, 55%, 52%);
$chat-right-color: hsl(271, 15%, 43%);
$cinza: hsl(0, 0%, 89%);
$dark-blue: hsl(271, 36%, 24%);
$cinza-texto: rgb(165, 165, 165);